<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A glimpse at my professional journey so far...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005-2009</h4>
                                    <h4 class="subheading">Initial Struggle and Learning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Started my career in 2005 as a Linux and Network Administrator. Although I had certifications like RHCE and CCNA, working in real world was totally a different experience.
                                        I started off with LAMP based environments where I had to troubleshoot configurations of Apache and MySQL in addition to Linux. At times I also had to dig in to PHP code to troubleshoot issues.
                                        That helped to build an overall understanding about web apps running on Linux environments. I struggled a lot but I'm happy with the reward of that struggle I did. That helped to build a strong foundation for my future.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009</h4>
                                    <h4 class="subheading">First Face Off with AWS Cloud</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I got a chance to work on AWS in 2009 and the first project I built was a postfix cluster running on bunch of EC2 instances. Believe me it was so much hard to manage EC2 instances running with only ephemeral storage. However, it was a unique experience. Instead of setting up new physical boxes, I was able to spin a VM in a few minutes. That was fascinating.

                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">Got a Big Break</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I joined Emerson Electric Co. in 2011 where I spent 7.5 years of my career. I learned a lot, not just new technologies but also other aspects of life. A big shout out to my manager and mentor Mike Mantle for his continuous support.
                                        I got a chance to work on Middlware projects where I setup clusters of Oracle WebLogic Server supporting SOA, OSB and ADF projects. I also setup IBM MQ servers and build CI/CD pipelines to automate the deployment of these projects.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2017</h4>
                                    <h4 class="subheading">Evolved as a Cloud Architect</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked with many clients specifically on AWS. Every project was a new challenge with some custom requirements. That helped to sharpen my skills and start architecting solutions effectively.
                                        Being an Architect, you have to visualize different components working together and then should also know how to stitch those components. A unique requirement everytime helped me to understand the AWS cloud eco system in depth.
                            
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>2018</h4>
                                        <h4 class="subheading">Moved to Canada</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">It was my personal milestone achieved in 2018 when I moved to Toronto. It's been great to see people of different religions and beliefs in such a diverse environment. I got some exciting opportunities here which gave me a boost to excel in my career.</p>
                                    </div>
                                </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>