<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <!-- --><h3 class="section-subheading text-muted">I work with you for all kinds of training and consultation requirements for AWS and Azure cloud platforms</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Consulting</h4>
                    <p class="text-muted">
                        <ul style="text-align:left;font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;">
                            <li>Requirement Gatehring and Detailed Analysis</li>
                            <li>Customized Solutions</li>
                            <li>Hybrid Cloud Environment Support</li>
                            <li>Automated Disaster Recovery Implementation using Cloud Native Services</li>
                            <li>100% Infrastructure Provisioning using Templates</li>
                            <li>Event Driven and Serverless Design</li>
                            <li>Continuous Maintenance and Support</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Training</h4>
                    <p class="text-muted">
                        <ul style="text-align:left;font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;">
                            <li>Online and On-site Trainings</li>
                            <li>1x1 and Group Programs</li>
                            <li>Scenario Based Training for Better Learning</li>
                            <li>Complete Hands-On Sessions</li>
                            <li>Certification Preparation For AWS & Azure Solutions Architect and DevOps Learning Paths</li>
                            <li>Dedicated Slack Channel for Effective Communication</li>
                            <li>Job Recommendations</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Security</h4>
                    <p class="text-muted">
                        <ul style="text-align:left;font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;">
                            <li>Grant Access in Completely Automated Process</li>
                            <li>Auto Mitigation of Security Threats</li>
                            <li>Detect Drifts and Automatically Revert any Manual Change</li>
                            <li>Multiple Cloud Accounts Based On Best Practices</li>
                            <li>Highly Scalable and Secure Environments</li>
                            <li>Setup Redundant Firewalls in Cloud</li>
                            <li>Centralized Logging and Monitoring Solutions</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>